@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color:var(--Very-light-gray);
    font-size: 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    display: flex;

}

h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700px; ;
}

.cuadro{
    height: 380px;
    width: 300px;
    border: 1px solid red;
    padding: 30px;
}
.container__uno{
    background-color:  var(--Bright-orange);
}
.container__img{
    color: ;
}