@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsla(0, 0%, 95%, 0.445);
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--Very-light-gray);
    font-size: 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    display: flex;
    flex-wrap: wrap;
    color: var(--white);

    justify-content: center;
    margin-top: 5%;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700px;

    text-transform: uppercase;
}

.cuadro {
    height: 380px;
    width: 250px;
    padding: 30px;

}

.container__uno {
    background-color: var(--Bright-orange);
}

button {
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
    border: 1px solid white;
    margin-top: 40px;
    cursor: pointer;
}

.container__uno {
    border-radius: 10px 0 0 10px;
}

.container__uno button {

    background-color: var(--Bright-orange);

}

.container__dos,
button {
    background-color: var(--Dark-cyan);
}

.container__tres {
    border-radius: 0 10px 10px 0;
}

.container__tres,
button {
    background-color: var(--Very-dark-cyan);
}

button:hover {
    background-color: var(--Very-light-gray);
}

@media screen and (max-width:927px) {
    .container__uno {
        border-radius: 10px 10px 0 0;
    }

    .container__tres {
        border-radius: 0 0 10px 10px;
    }
}